body{
	background-color: green;
}

button{
	background-color: #555555; /* Black */
	border: none;
	color: white;
	border-radius: 12px;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#wrapper{
	width: 60%; 
	height:200px; 
	margin: 0 auto;  
}

.table{
	overflow-x:auto;
}

h1{
	color: red;
}

#PageRefresh{
	display: none;
}

img{
	width: 50%;
}

table { 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	display: none;
	border-collapse: collapse; 
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
/* Zebra striping */
tr:hover {
	background-color: #f5f5f5
}

th { 
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}
td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
}
